<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92191670743-uhpjd2cojaqdtorrn4j6ned0srn3ntnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92191670743-uhpjd2cojaqdtorrn4j6ned0srn3ntnb</string>
	<key>API_KEY</key>
	<string>AIzaSyCWe6oGj_RmYC-eb0D_d8PWARRA9XCHh2k</string>
	<key>GCM_SENDER_ID</key>
	<string>92191670743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codepath.Nutriq.Gertskis</string>
	<key>PROJECT_ID</key>
	<string>nutriq-9b99e</string>
	<key>STORAGE_BUCKET</key>
	<string>nutriq-9b99e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:92191670743:ios:583db34dcc8a6d7c</string>
	<key>DATABASE_URL</key>
	<string>https://nutriq-9b99e.firebaseio.com</string>
</dict>
</plist>
